{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>Imagen Digital - Home</title>
{% endblock %}

{% block css_content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/text.css' %}">
{% endblock %}

{% block container %}
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="d-none d-md-block">
        <div class="sidebar-nav d-flex flex-column align-items-center justify-content-between">
            <div class="mt-2 d-flex flex-column justify-content-center align-items-center">
                <div class="circle mt-5 mb-5 d-flex justify-content-center flex-column text-center text-light"
                     id="color-1"><i class="fas fa-camera-retro"></i>
                </div>
                <h3 class="text-light">Imagen Digital</h3>
            </div>
            <h3 class="font-italic text-white text-center text-capitalize m-1">{{request.user.get_full_name}}</h3>
            <div class="btn-group mb-2">
                <a class="btn btn-primary" href="{% url 'user:detail' request.user.username %}" role="button">Perfil</a>
                <a class="btn btn-danger" href="{% url 'user:logout'%}" role="button">Cerrar cesión</a>
            </div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="col top d-flex align-items-center justify-content-center ">
            <a href="#menu-toggle" class="btn btn-outline-warning d-none d-md-block" id="menu-toggle">
                <i id="button-menu" class="fas fa-angle-double-right"></i>
            </a>
            <div class="col m-3 pt-2 d-flex flex-row justify-content-center align-items-center text-center font-italic text-capitalize">
                {% block title %}{% endblock %}
                {% block title-2 %}{% endblock %}
            </div>
            <a class="btn btn-outline-warning d-md-none" data-toggle="collapse" href="#collapseMenu" role="button"
               aria-expanded="false" aria-controls="collapseMenu" id="menuDropdown">
                <i id="button-dropdown" class="fas fa-angle-double-down"></i>
            </a>
        </div>
        <div class="collapse d-md-none" id="collapseMenu">
            <a href="{% url 'user:detail' request.user.username %}" class="nounderline">
                <div class="bg-dark p-2 pl-3 d-flex flex-row align-items-center">
                    <div class="avatar-img d-flex justify-content-center flex-column text-center text-light"
                         id="color-2">{{ request.user.username|make_list|first | title}}
                    </div>
                    <h3 class="font-italic ml-3 mt-2 text-white text-center text-capitalize">{{request.user.username|title }}</h3>
                </div>
            </a>
            <a href="{% url 'user:logout'%}" class="nounderline">
                <div class="pl-3 bg-secondary">
                    <div class="p-2 pl-5 d-flex flex-row align-items-center">
                        <div class="avatar-img d-flex justify-content-center flex-column text-center text-light bg-danger">
                            <i
                                    class="fas fa-arrow-alt-circle-left"></i></div>
                        <h3 class="font-italic ml-3 mt-2 text-white text-center text-capitalize">Cerrar cesión</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="container-fluid">
            <div class="m-md-3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
{% endblock%}

{% block js %}
<script src="{% static 'js/prefix.js' %}"></script>
<script src="{% static 'js/anime.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/animations.js' %}"></script>
{% endblock%}