{% extends "users/home.html" %}
{% load static %}


{% block delete_warning %}
{% include 'only_superusers.html' %}
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">{% csrf_token %}
                <div class="modal-header d-flex flex-column justify-content-center align-items-center">
                    <h1 class="modal-title text-danger" id="deleteUserModalLabel">Precaución</h1>
                </div>
                <div class="modal-body">
                    <div class="modal-header d-flex flex-column justify-content-center align-items-center">
                        <h2>Estas seguro de eliminar al usuario:</h2>
                        <h2><p class="font-weight-bold">"{{ object }}"</p></h2>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="{% url 'user:home' %}" role="button">Cancelar</a>
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#deleteUserModal").modal("show");
    });
</script>
{% endblock %}